.filter-comunas {
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.filter-comunas h2 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.filter-comunas select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

/* 📱 Responsivo */
@media (max-width: 768px) {
  .filter-comunas {
    margin: 1rem auto;
  }

  .filter-comunas select {
    width: 100%;
    max-width: 300px;
  }
}


* {
  box-sizing: border-box;
}
